In [ ]:
#Imports
import pandas as pd
import us

Create Dataframes

In [ ]:
#Dataframes to Compare:

# combined_df           #Dataframe combining all Census data
# education_2020_df     #Eduction statistic for 2020
# unemployment_2020_df  #Unemployment statstics for 2020
# population_2020_df    #Population statistics for 2020
# poverty_2020_df       #Poverty rates for 2020
# impurities_df
# uranium_df            #Uranium Water Quality for 2020
# arsenic_df            #Arsenic Water Quality for 2020
# dehp_df               #DI(2-ETHYLHEXYL) PHTHALATE (DEHP)
#hha_df                 #Haloacetics Acids
#nitrate_df             #Nitrate

In [ ]:
#Functions

#Function using us to convert State Postal Codes into State Names.
def get_state_name(state_code):
    state = us.states.lookup(state_code)
    if state is not None:
        return state.name
    else:
        return None

In [ ]:
# Load data files

#Education
education_df = pd.read_excel("Resources\Education_modified.xlsx")
education_df.head()

In [ ]:
#Population
population_df = pd.read_excel("Resources\PopulationEstimates_modified.xlsx")
population_df.head()

In [135]:
#Poverty Estimates
poverty_df = pd.read_excel("Resources\PovertyEstimates_modified.xlsx")
poverty_df.head()

,FIPS_code,Stabr,Area_name,Rural-urban_Continuum_Code_2003,Urban_Influence_Code_2003,Rural-urban_Continuum_Code_2013,Urban_Influence_Code_2013,Estimate of people of all ages in poverty 2020,CI90LBALL_2020,CI90UBALL_2020,...,CI90UB517P_2020,Estimate of median household income 2020,CI90LBINC_2020,CI90UBINC_2020,POV04_2020,CI90LB04_2020,CI90UB04_2020,Estimated percent of children ages 0 to 4 in poverty 2020 (available for the U.S. and State total only),CI90LB04P_2020,CI90UB04P_2020
0,0,US,United States,NaN,NaN,NaN,NaN,38371394.0,38309115.0,38433673.0,...,14.9,67340.0,67251.0,67429.0,3146325.0,3133736.0,3158914.0,16.8,16.7,16.9
1,1000,AL,Alabama,NaN,NaN,NaN,NaN,714568.0,695249.0,733887.0,...,20.7,53958.0,53013.0,54903.0,66169.0,61541.0,70797.0,23.3,21.7,24.9
2,1001,AL,Autauga County,2.0,2.0,2.0,2.0,6242.0,4930.0,7554.0,...,19.3,67565.0,59132.0,75998.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1003,AL,Baldwin County,4.0,5.0,3.0,2.0,20189.0,15535.0,24843.0,...,16.1,71135.0,66540.0,75730.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1005,AL,Barbour County,6.0,6.0,6.0,6.0,5548.0,4210.0,6886.0,...,47.2,38866.0,33510.0,44222.0,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Unemployment
unemployment_df = pd.read_excel("Resources/Unemployment_modified.xlsx")
unemployment_df.head()

In [ ]:
population_df.info()

In [ ]:
#Merge Education and Population dataframes
merge_1_df = pd.merge(education_df, population_df, on=["State", "Area name"], how="outer")
merge_1_df.info()

In [ ]:
#Merge previous dataframe and Unemployment dataframe
merge_2_df = pd.merge(merge_1_df,unemployment_df, left_on=["State","Area name"], right_on=["State","Area_name"], how="outer")
merge_2_df.info()

In [ ]:
merge_2_df.columns

In [ ]:
poverty_df.info()

In [ ]:
#Combined merged_2_df with Poverty dataframe
merge_3_df = pd.merge(merge_2_df,poverty_df, left_on=["State","Area name"], right_on=["Stabr","Area_name"], how="outer")
merge_3_df.info()

In [ ]:
###Other Dataframes to Merge###

In [ ]:
#Rename dataframe
combined_df = merge_3_df.copy()

In [136]:
# Clean-up
combined_df.columns

#Save to Excel
# combined_df.to_excel("combined_df.xlsx")

Index(['Federal Information Processing Standard (FIPS) Code', 'State',
       'Area name', '2003 Rural-urban Continuum Code',
       '2003 Urban Influence Code', '2013 Rural-urban Continuum Code',
       '2013 Urban Influence Code', 'Less than a high school diploma, 1970',
       'High school diploma only, 1970', 'Some college (1-3 years), 1970',
       ...
       'CI90UB517P_2020', 'Estimate of median household income 2020',
       'CI90LBINC_2020', 'CI90UBINC_2020', 'POV04_2020', 'CI90LB04_2020',
       'CI90UB04_2020',
       'Estimated percent of children ages 0 to 4 in poverty 2020 (available for the U.S. and State total only)',
       'CI90LB04P_2020', 'CI90UB04P_2020'],
      dtype='object', length=191)

In [ ]:
# Find the columns for 2020
education_2020_df = combined_df.loc[:,["State","Area name", "Less than a high school diploma, 2017-21", "High school diploma only, 2017-21", "Some college or associate's degree, 2017-21", "Bachelor's degree or higher, 2017-21", "Percent of adults with less than a high school diploma, 2017-21", "Percent of adults with a high school diploma only, 2017-21", "Percent of adults completing some college or associate's degree, 2017-21", "Percent of adults with a bachelor's degree or higher, 2017-21"]]

#Convert State code to State Name
education_2020_df['State'] = education_2020_df['State'].astype(str).apply(get_state_name)

#Groupby state
education_2020_df = education_2020_df.groupby("State").mean()

education_2020_df.head()

In [ ]:
#Find Columns for 2020
unemployment_2020_df = combined_df.loc[:,["State","Area name", "Civilian_labor_force_2020", "Employed_2020", "Unemployed_2020", "Unemployment_rate_2020"]]

#Change state codes to Names
unemployment_2020_df['State'] = unemployment_2020_df['State'].astype(str).apply(get_state_name)

#Group by State
unemployment_2020_df = unemployment_2020_df.groupby("State").mean()

unemployment_2020_df.head()

In [ ]:
#Find Columns for 2020
population_2020_df = combined_df.loc[:,["State","Area name","Population 2020"]]

#Change state codes to Names
population_2020_df['State'] = population_2020_df['State'].astype(str).apply(get_state_name)

#Group by State
population_2020_df = population_2020_df.groupby("State").mean()

population_2020_df.head()

In [141]:
poverty_df.columns

Index(['FIPS_code', 'Stabr', 'Area_name', 'Rural-urban_Continuum_Code_2003',
       'Urban_Influence_Code_2003', 'Rural-urban_Continuum_Code_2013',
       'Urban_Influence_Code_2013',
       'Estimate of people of all ages in poverty 2020', 'CI90LBALL_2020',
       'CI90UBALL_2020',
       'Estimated percent of people of all ages in poverty 2020',
       'CI90LBALLP_2020', 'CI90UBALLP_2020', 'POV017_2020', 'CI90LB017_2020',
       'CI90UB017_2020',
       'Estimated percent of people age 0-17 in poverty 2020',
       'CI90LB017P_2020', 'CI90UB017P_2020', 'POV517_2020', 'CI90LB517_2020',
       'CI90UB517_2020',
       'Estimated percent of related children age 5-17 in families in poverty 2020',
       'CI90LB517P_2020', 'CI90UB517P_2020',
       'Estimate of median household income 2020', 'CI90LBINC_2020',
       'CI90UBINC_2020', 'POV04_2020', 'CI90LB04_2020', 'CI90UB04_2020',
       'Estimated percent of children ages 0 to 4 in poverty 2020 (available for the U.S. and State total only)',
       'CI90LB04P_2020', 'CI90UB04P_2020'],
      dtype='object')

In [143]:
#Find Columns for 2020
poverty_2020_df = combined_df.loc[:,["State","Area name","Estimate of people of all ages in poverty 2020","Estimated percent of people of all ages in poverty 2020","Estimated percent of people age 0-17 in poverty 2020","Estimated percent of related children age 5-17 in families in poverty 2020","Estimate of median household income 2020","Estimated percent of children ages 0 to 4 in poverty 2020 (available for the U.S. and State total only)"]]

#Change state codes to Names
poverty_2020_df['State'] = poverty_2020_df['State'].astype(str).apply(get_state_name)

#Group by State
poverty_2020_df = poverty_2020_df.groupby("State").mean()

poverty_2020_df.head()

,Estimate of people of all ages in poverty 2020,Estimated percent of people of all ages in poverty 2020,Estimated percent of people age 0-17 in poverty 2020,Estimated percent of related children age 5-17 in families in poverty 2020,Estimate of median household income 2020,Estimated percent of children ages 0 to 4 in poverty 2020 (available for the U.S. and State total only)
State,,,,,,
Alabama,21016.735294,17.557353,25.208824,24.077941,47945.147059,23.3
Alaska,4112.222222,12.666667,16.607407,15.266667,71074.666667,14.2
Arizona,116569.250000,16.068750,21.662500,20.206250,54338.250000,19.4
Arkansas,11807.000000,17.834211,25.119737,23.765789,45769.131579,24.0
California,149802.271186,12.262712,15.366102,14.661017,74261.186441,14.6

In [ ]:
#Create Dataframes for water quality

#Uranium
#import file
uranium_df = pd.read_csv("Resources\CDC\ANNUAL PERCENT OF CWS BY MEAN URANIUM CONCENTRAtion (MGL).csv")

#Rename
uranium_df = uranium_df.rename(columns= {"Value":"Percent by Mean Uranium Concentration >30 mg/L"})
uranium_df.head()

In [ ]:
#arsenic
#import file
arsenic_df = pd.read_csv("Resources\CDC\ARSENIC IN COMMUNITY WATER SYSTEMS (CWS)  ANNUAL PERCENT OF CWS BY MEAN ARSENIC CONCENTation (MG per L).csv")

#Rename
arsenic_df = arsenic_df.rename(columns= {"Value":"Percent by Mean Arsenic Concentration >10 mg/L"})
arsenic_df.head()

In [ ]:
#DEHP
#import file
dehp_df = pd.read_csv("Resources\CDC\DI(2-ETHYLHEXYL) PHTHALATE (DEHP).csv")

#Rename
dehp_df = dehp_df.rename(columns= {"Value":"Percent by Mean DI(2-ETHYLHEXYL) PHTHALATE (DEHP) Concentration > 6 mg/L"})
dehp_df.head()

In [ ]:
#Haloacetics Acids
#import file
hha_df = pd.read_csv("Resources\CDC\DISINFECTION BYPRODUCTS IN COMMUNITY WATER SYSTEMS (CWS)  ANNUAL PERCENT OF CWS BY MEAN Haloacetics Acids Concentration.csv")

#Rename
hha_df = hha_df.rename(columns= {"Value":"Percent by Mean Haloacetics Acids Concentration >60 mg/L"})
hha_df.head()

In [ ]:
#Nitrate
#import file
nitrate_df = pd.read_csv(r"Resources\CDC\NITRATES IN COMMUNITY WATER SYSTEMS (CWS) ANNUAL PERCENT.csv")

#Rename
nitrate_df = nitrate_df.rename(columns= {"Value":"Percent by Mean Nitrate Concentration >10 mg/L"})
nitrate_df.head()

In [ ]:
#Merge to create impurities_df
temp_df = pd.merge(uranium_df, arsenic_df, on="State", how="outer")
temp_df = pd.merge(temp_df, dehp_df, on="State", how="outer")
# temp_df = pd.merge(temp_df, hha_df, on="State", how="outer")
temp_df = pd.merge(temp_df, nitrate_df, on="State", how="outer")
temp_df.head()
# temp_df.columns

In [ ]:
impurities_df = temp_df.loc[:,["State","Year_x","Percent by Mean Uranium Concentration >30 mg/L","Percent by Mean Arsenic Concentration >10 mg/L","Percent by Mean DI(2-ETHYLHEXYL) PHTHALATE (DEHP) Concentration > 6 mg/L","Percent by Mean Nitrate Concentration >10 mg/L"]]

impurities_df = impurities_df.rename(columns={"Year_x":"Year"})
# impurities_df.drop(impurities_df[2])
impurities_df

In [ ]:
#List of States
# Define the mapping between states and regions
state_to_region = {
    'Arizona': 'Four Corners',
    'California': 'West Coast',
    'Colorado': 'Four Corners',
    'Connecticut': 'Northeast',
    'Maine': 'Northeast',
    # 'Maryland': 'South',
    'Massachusetts': 'Northeast',
    'New Hampshire': 'Northeast',
    'New Jersey': 'Northeast',
    'New Mexico': 'Four Corners',
    'New York': 'Northeast',
    'Oregon': 'West Coast',
    'Pennsylvania': 'Northeast',
    'Rhode Island': 'Northeast',
    'Utah': 'Four Corners',
    'Vermont': 'Northeast',
    'Washington': 'West Coast'
}

# Apply the mapping to the "State" column and create a new "Region" column
impurities_df['Region'] = impurities_df['State'].map(state_to_region)

impurities_region_df = impurities_df.groupby("Region").mean()
impurities_region_df

In [144]:
#Combine Census data together
#Dataframes to combine for the year 2020
census_2020_df = pd.merge(population_2020_df, unemployment_2020_df, on="State", how="outer")
census_2020_df = pd.merge(census_2020_df, education_2020_df, on="State", how="outer")
census_2020_df = pd.merge(census_2020_df, poverty_2020_df, on="State", how="outer")

#Reset index to create "State" column
census_2020_df.reset_index()

census_2020_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 52 entries, Alabama to Wyoming
Data columns (total 19 columns):
 #   Column                                                                                                   Non-Null Count  Dtype
---  ------                                                                                                   --------------  -----
 0   Population 2020                                                                                          52 non-null     float64
 1   Civilian_labor_force_2020                                                                                51 non-null     float64
 2   Employed_2020                                                                                            51 non-null     float64
 3   Unemployed_2020                                                                                          51 non-null     float64
 4   Unemployment_rate_2020                                                                                   51 non-null     float64
 5   Less than a high school diploma, 2017-21                                                                 52 non-null     float64
 6   High school diploma only, 2017-21                                                                        52 non-null     float64
 7   Some college or associate's degree, 2017-21                                                              52 non-null     float64
 8   Bachelor's degree or higher, 2017-21                                                                     52 non-null     float64
 9   Percent of adults with less than a high school diploma, 2017-21                                          52 non-null     float64
 10  Percent of adults with a high school diploma only, 2017-21                                               52 non-null     float64
 11  Percent of adults completing some college or associate's degree, 2017-21                                 52 non-null     float64
 12  Percent of adults with a bachelor's degree or higher, 2017-21                                            52 non-null     float64
 13  Estimate of people of all ages in poverty 2020                                                           51 non-null     float64
 14  Estimated percent of people of all ages in poverty 2020                                                  51 non-null     float64
 15  Estimated percent of people age 0-17 in poverty 2020                                                     51 non-null     float64
 16  Estimated percent of related children age 5-17 in families in poverty 2020                               51 non-null     float64
 17  Estimate of median household income 2020                                                                 51 non-null     float64
 18  Estimated percent of children ages 0 to 4 in poverty 2020 (available for the U.S. and State total only)  51 non-null     float64
dtypes: float64(19)
memory usage: 8.1+ KB

In [146]:
#Merge impurities_df and Census 2020 dataframe
complete_2020_df =pd.merge(census_2020_df, impurities_df, on="State",how="outer")
complete_2020_df.head()

,State,Population 2020,Civilian_labor_force_2020,Employed_2020,Unemployed_2020,Unemployment_rate_2020,"Less than a high school diploma, 2017-21","High school diploma only, 2017-21","Some college or associate's degree, 2017-21","Bachelor's degree or higher, 2017-21",...,Estimated percent of related children age 5-17 in families in poverty 2020,Estimate of median household income 2020,Estimated percent of children ages 0 to 4 in poverty 2020 (available for the U.S. and State total only),Year,Year,Percent by Mean Uranium Concentration >30 mg/L,Percent by Mean Arsenic Concentration >10 mg/L,Percent by Mean DI(2-ETHYLHEXYL) PHTHALATE (DEHP) Concentration > 6 mg/L,Percent by Mean Nitrate Concentration >10 mg/L,Region
0,Alabama,1.477729e+05,66715.014706,62386.735294,4328.279412,6.945588,12648.441176,30623.794118,30356.529412,26777.205882,...,24.077941,47945.147059,23.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alaska,4.731555e+04,22379.580645,20534.096774,1845.483871,10.203226,2107.677419,8895.032258,10687.032258,9560.709677,...,15.266667,71074.666667,14.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arizona,8.939378e+05,432106.312500,398887.437500,33218.875000,8.712500,70057.500000,140687.250000,201329.125000,186927.000000,...,20.206250,54338.250000,19.4,2020.0,2020.0,2.0,6.0,0.0,1.0,Four Corners
3,Arkansas,7.925063e+04,35699.578947,33528.184211,2171.394737,6.350000,6545.289474,18124.526316,15593.894737,12928.131579,...,23.765789,45769.131579,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,California,1.340279e+06,641732.813559,576158.203390,65574.610169,9.996610,143594.406780,185666.237288,258726.881356,320387.728814,...,14.661017,74261.186441,14.6,2020.0,2020.0,10.0,18.0,0.0,2.0,West Coast

In [ ]:
#Write Complete dataframe to files

complete_2020_df.to_excel("complete_2020_df.xlsx")

complete_2020_df.to_csv("complete_2020_df.csv")

Functions for viewing data and Test Code

In [ ]:
    ###Example Code###

#Group states into regions:
region_dict = {
    # "West Coast":["California","Oregon","Washington"]
    "California":"West Coast"
}
# df['region'] = df['state'].apply(lambda x: state_regions.get(x.lower(), None))

impurities_df['Region'] = impurities_df['state'].apply(lambda x: region_dict.get(x.lower(), None))

# impurities_df["Region"] = impurities_df["State"].map(region_dictionary)
impurities_df.head()

In [ ]:
#Find Means of columns

# create sample dataframe
data = {'col1': [1, 2, 3], 'col2': [4, 5, 6], 'col3': [7, 8, 9]}
df = pd.DataFrame(data)

# iterate through columns and find mean
for col in df.columns:
    mean_val = df[col].mean()
    print(f"Column {col} has mean value of {mean_val}")

In [ ]:
# Group by State
# Load your dataframe into a variable called `df`
df = pd.read_csv("my_data.csv")

# Group the data by "State" column and compute the mean for each column
means_by_state = df.groupby("State").mean()

# Loop through each column and print the name of the column and its mean value by state
for col in means_by_state.columns:
    print("Column name:", col)
    print(means_by_state[col])

In [ ]:
#Create new dataframe with means by state
# Create an empty DataFrame to store the results
state_mean_df = pd.DataFrame(columns=['State', 'MeanValue'])

# Iterate over the unique states in the original DataFrame
for state in df['State'].unique():
    
    # Calculate the mean value for the current state
    mean_value = df.loc[df['State'] == state, 'Value'].mean()
    
    # Add the state and mean value to the results DataFrame
    state_mean_df = state_mean_df.append({'State': state, 'MeanValue': mean_value}, ignore_index=True)
    
# Save the results to a CSV file
state_mean_df.to_csv('state_means.csv', index=False)

In [ ]:
region_dict = {
    # "West Coast":["California","Oregon","Washington"]
    "California":"West Coast"
}
# df['region'] = df['state'].apply(lambda x: state_regions.get(x.lower(), None))

impurities_df['Region'] = impurities_df['state'].apply(lambda x: region_dict.get(x.lower(), None))

# impurities_df["Region"] = impurities_df["State"].map(region_dictionary)
impurities_df.head()