Program for loading csv files and performing exploratory data analysis

In [3]:
#Imports
import pandas as pd
import us

In [4]:
#Functions

#Function using us library to convert State Postal Codes into State Names.
def get_state_name(state_code):
    state = us.states.lookup(state_code)
    if state is not None:
        return state.name
    else:
        return None

Create Dataframes

In [ ]:
#Dataframes of Note:

# combined_df           #Dataframe combining all Census data
# education_2020_df     #Eduction statistic for 2020
# unemployment_2020_df  #Unemployment statstics for 2020
# population_2020_df    #Population statistics for 2020
# poverty_2020_df       #Poverty rates for 2020
# impurities_df         #Dataframe merging datframes of impurities
# uranium_df            #Uranium Water Quality for 2020
# arsenic_df            #Arsenic Water Quality for 2020
# dehp_df               #DI(2-ETHYLHEXYL) PHTHALATE (DEHP)
#hha_df                 #Haloacetics Acids
#nitrate_df             #Nitrate

In [5]:
# Load data files

#Education
education_df = pd.read_excel("Resources\Education_modified.xlsx")
education_df.head()

,Federal Information Processing Standard (FIPS) Code,State,Area name,2003 Rural-urban Continuum Code,2003 Urban Influence Code,2013 Rural-urban Continuum Code,2013 Urban Influence Code,"Less than a high school diploma, 1970","High school diploma only, 1970","Some college (1-3 years), 1970",...,"Percent of adults completing some college or associate's degree, 2008-12","Percent of adults with a bachelor's degree or higher, 2008-12","Less than a high school diploma, 2017-21","High school diploma only, 2017-21","Some college or associate's degree, 2017-21","Bachelor's degree or higher, 2017-21","Percent of adults with less than a high school diploma, 2017-21","Percent of adults with a high school diploma only, 2017-21","Percent of adults completing some college or associate's degree, 2017-21","Percent of adults with a bachelor's degree or higher, 2017-21"
0,0,US,United States,NaN,NaN,NaN,NaN,52373312.0,34158051.0,11650730.0,...,28.993579,28.484955,25050356.0,59636386.0,64656741.0,75808834.0,11.125960,26.487130,28.716889,33.670022
1,1000,AL,Alabama,NaN,NaN,NaN,NaN,1062306.0,468269.0,136287.0,...,29.022866,22.264896,430047.0,1041209.0,1032122.0,910425.0,12.597300,30.499973,30.233789,26.668938
2,1001,AL,Autauga County,2.0,2.0,2.0,2.0,6611.0,3757.0,933.0,...,29.618142,21.707831,4126.0,12977.0,11367.0,11144.0,10.415510,32.758621,28.694401,28.131469
3,1003,AL,Baldwin County,4.0,5.0,3.0,2.0,18726.0,8426.0,2334.0,...,31.819503,27.741591,14555.0,44342.0,50518.0,52562.0,8.985844,27.375492,31.188379,32.450286
4,1005,AL,Barbour County,6.0,6.0,6.0,6.0,8120.0,2242.0,581.0,...,25.771784,14.524286,4378.0,6600.0,5010.0,2007.0,24.328980,36.676855,27.841067,11.153098

In [6]:
#Population
population_df = pd.read_excel("Resources\PopulationEstimates_modified.xlsx")
population_df.head()

,Federal Information Processing Standards (FIPS) Code,State,Area name,Rural-Urban Continuum Code 2013,Population 1990,Population 2000,Population 2010,Population 2020,Population 2021
0,0,US,United States,NaN,248790925.0,281424600.0,308745538.0,331449281.0,331893745.0
1,1000,AL,Alabama,NaN,4040389.0,4447207.0,4779736.0,5024279.0,5039877.0
2,1001,AL,Autauga County,2.0,34222.0,43751.0,54571.0,58805.0,59095.0
3,1003,AL,Baldwin County,3.0,98280.0,140416.0,182265.0,231767.0,239294.0
4,1005,AL,Barbour County,6.0,25417.0,29042.0,27457.0,25223.0,24964.0

In [7]:
#Poverty Estimates
poverty_df = pd.read_excel("Resources\PovertyEstimates_modified.xlsx")
poverty_df.head()

,FIPS_code,Stabr,Area_name,Rural-urban_Continuum_Code_2003,Urban_Influence_Code_2003,Rural-urban_Continuum_Code_2013,Urban_Influence_Code_2013,Estimate of people of all ages in poverty 2020,CI90LBALL_2020,CI90UBALL_2020,...,CI90UB517P_2020,Estimate of median household income 2020,CI90LBINC_2020,CI90UBINC_2020,POV04_2020,CI90LB04_2020,CI90UB04_2020,Estimated percent of children ages 0 to 4 in poverty 2020 (available for the U.S. and State total only),CI90LB04P_2020,CI90UB04P_2020
0,0,US,United States,NaN,NaN,NaN,NaN,38371394.0,38309115.0,38433673.0,...,14.9,67340.0,67251.0,67429.0,3146325.0,3133736.0,3158914.0,16.8,16.7,16.9
1,1000,AL,Alabama,NaN,NaN,NaN,NaN,714568.0,695249.0,733887.0,...,20.7,53958.0,53013.0,54903.0,66169.0,61541.0,70797.0,23.3,21.7,24.9
2,1001,AL,Autauga County,2.0,2.0,2.0,2.0,6242.0,4930.0,7554.0,...,19.3,67565.0,59132.0,75998.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1003,AL,Baldwin County,4.0,5.0,3.0,2.0,20189.0,15535.0,24843.0,...,16.1,71135.0,66540.0,75730.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1005,AL,Barbour County,6.0,6.0,6.0,6.0,5548.0,4210.0,6886.0,...,47.2,38866.0,33510.0,44222.0,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#Unemployment
unemployment_df = pd.read_excel("Resources/Unemployment_modified.xlsx")
unemployment_df.head()

,FIPS_code,State,Area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2000,Employed_2000,Unemployed_2000,Unemployment_rate_2000,...,Civilian_labor_force_2020,Employed_2020,Unemployed_2020,Unemployment_rate_2020,Civilian_labor_force_2021,Employed_2021,Unemployed_2021,Unemployment_rate_2021,Median_Household_Income_2020,Med_HH_Income_Percent_of_State_Total_2020
0,0,US,United States,NaN,NaN,NaN,142601576.0,136904853.0,5696723.0,3.994853,...,161207103.0,148183367.0,13023736.0,8.078885,161758337.0,153099687.0,8658650.0,5.352831,67340.0,NaN
1,1000,AL,Alabama,NaN,NaN,NaN,2147173.0,2047731.0,99442.0,4.600000,...,2268309.0,2121149.0,147160.0,6.500000,2246993.0,2169721.0,77272.0,3.400000,53958.0,100.000000
2,1001,AL,"Autauga County, AL",2.0,2.0,1.0,21861.0,20971.0,890.0,4.100000,...,26405.0,24985.0,1420.0,5.400000,26341.0,25599.0,742.0,2.800000,67565.0,125.217762
3,1003,AL,"Baldwin County, AL",3.0,2.0,1.0,69979.0,67370.0,2609.0,3.700000,...,98910.0,92751.0,6159.0,6.200000,99427.0,96481.0,2946.0,3.000000,71135.0,131.834019
4,1005,AL,"Barbour County, AL",6.0,6.0,0.0,11449.0,10812.0,637.0,5.600000,...,8680.0,8004.0,676.0,7.800000,8197.0,7728.0,469.0,5.700000,38866.0,72.030097

In [9]:
#Merge Education and Population dataframes
merge_1_df = pd.merge(education_df, population_df, on=["State", "Area name"], how="outer")
merge_1_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3296 entries, 0 to 3295
Data columns (total 62 columns):
 #   Column                                                                    Non-Null Count  Dtype
---  ------                                                                    --------------  -----
 0   Federal Information Processing Standard (FIPS) Code                       3287 non-null   float64
 1   State                                                                     3296 non-null   object
 2   Area name                                                                 3296 non-null   object
 3   2003 Rural-urban Continuum Code                                           3222 non-null   float64
 4   2003 Urban Influence Code                                                 3222 non-null   float64
 5   2013 Rural-urban Continuum Code                                           3222 non-null   float64
 6   2013 Urban Influence Code                                                 3222 non-null   float64
 7   Less than a high school diploma, 1970                                     3188 non-null   float64
 8   High school diploma only, 1970                                            3188 non-null   float64
 9   Some college (1-3 years), 1970                                            3188 non-null   float64
 10  Four years of college or higher, 1970                                     3188 non-null   float64
 11  Percent of adults with less than a high school diploma, 1970              3188 non-null   float64
 12  Percent of adults with a high school diploma only, 1970                   3188 non-null   float64
 13  Percent of adults completing some college (1-3 years), 1970               3188 non-null   float64
 14  Percent of adults completing four years of college or higher, 1970        3188 non-null   float64
 15  Less than a high school diploma, 1980                                     3269 non-null   float64
 16  High school diploma only, 1980                                            3269 non-null   float64
 17  Some college (1-3 years), 1980                                            3269 non-null   float64
 18  Four years of college or higher, 1980                                     3269 non-null   float64
 19  Percent of adults with less than a high school diploma, 1980              3269 non-null   float64
 20  Percent of adults with a high school diploma only, 1980                   3269 non-null   float64
 21  Percent of adults completing some college (1-3 years), 1980               3269 non-null   float64
 22  Percent of adults completing four years of college or higher, 1980        3269 non-null   float64
 23  Less than a high school diploma, 1990                                     3273 non-null   float64
 24  High school diploma only, 1990                                            3273 non-null   float64
 25  Some college or associate's degree, 1990                                  3273 non-null   float64
 26  Bachelor's degree or higher, 1990                                         3273 non-null   float64
 27  Percent of adults with less than a high school diploma, 1990              3273 non-null   float64
 28  Percent of adults with a high school diploma only, 1990                   3273 non-null   float64
 29  Percent of adults completing some college or associate's degree, 1990     3272 non-null   float64
 30  Percent of adults with a bachelor's degree or higher, 1990                3273 non-null   float64
 31  Less than a high school diploma, 2000                                     3274 non-null   float64
 32  High school diploma only, 2000                                            3274 non-null   float64
 33  Some college or associate's degree, 2000                                  3274 non-null   float64
 34  Bachelor's degree or higher, 2000                                         3274 non-null   float64
 35  Percent of adults with less than a high school diploma, 2000              3274 non-null   float64
 36  Percent of adults with a high school diploma only, 2000                   3274 non-null   float64
 37  Percent of adults completing some college or associate's degree, 2000     3274 non-null   float64
 38  Percent of adults with a bachelor's degree or higher, 2000                3274 non-null   float64
 39  Less than a high school diploma, 2008-12                                  3276 non-null   float64
 40  High school diploma only, 2008-12                                         3276 non-null   float64
 41  Some college or associate's degree, 2008-12                               3276 non-null   float64
 42  Bachelor's degree or higher, 2008-12                                      3276 non-null   float64
 43  Percent of adults with less than a high school diploma, 2008-12           3276 non-null   float64
 44  Percent of adults with a high school diploma only, 2008-12                3276 non-null   float64
 45  Percent of adults completing some college or associate's degree, 2008-12  3276 non-null   float64
 46  Percent of adults with a bachelor's degree or higher, 2008-12             3276 non-null   float64
 47  Less than a high school diploma, 2017-21                                  3276 non-null   float64
 48  High school diploma only, 2017-21                                         3276 non-null   float64
 49  Some college or associate's degree, 2017-21                               3276 non-null   float64
 50  Bachelor's degree or higher, 2017-21                                      3276 non-null   float64
 51  Percent of adults with less than a high school diploma, 2017-21           3276 non-null   float64
 52  Percent of adults with a high school diploma only, 2017-21                3276 non-null   float64
 53  Percent of adults completing some college or associate's degree, 2017-21  3276 non-null   float64
 54  Percent of adults with a bachelor's degree or higher, 2017-21             3276 non-null   float64
 55  Federal Information Processing Standards (FIPS) Code                      3282 non-null   float64
 56  Rural-Urban Continuum Code 2013                                           3222 non-null   float64
 57  Population 1990                                                           3274 non-null   float64
 58  Population 2000                                                           3276 non-null   float64
 59  Population 2010                                                           3276 non-null   float64
 60  Population 2020                                                           3276 non-null   float64
 61  Population 2021                                                           3276 non-null   float64
dtypes: float64(60), object(2)
memory usage: 1.6+ MB

In [10]:
#Merge merge_1_df dataframe and Unemployment dataframe
merge_2_df = pd.merge(merge_1_df,unemployment_df, left_on=["State","Area name"], right_on=["State","Area_name"], how="outer")
merge_2_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6523 entries, 0 to 6522
Columns: 157 entries, Federal Information Processing Standard (FIPS) Code to Med_HH_Income_Percent_of_State_Total_2020
dtypes: float64(154), object(3)
memory usage: 7.9+ MB

In [11]:
#Merge merged_2_df with Poverty dataframe
merge_3_df = pd.merge(merge_2_df,poverty_df, left_on=["State","Area name"], right_on=["Stabr","Area_name"], how="outer")
merge_3_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6540 entries, 0 to 6539
Columns: 191 entries, Federal Information Processing Standard (FIPS) Code to CI90UB04P_2020
dtypes: float64(186), object(5)
memory usage: 9.6+ MB

In [ ]:
#If user wishes to add additional dataframes, please combine them here with the previous dataframe

In [12]:
#Rename dataframe after merges are complete
combined_df = merge_3_df.copy()

In [13]:
# Find the columns for 2020 for Education
education_2020_df = combined_df.loc[:,["State","Area name", "Less than a high school diploma, 2017-21", "High school diploma only, 2017-21", "Some college or associate's degree, 2017-21", "Bachelor's degree or higher, 2017-21", "Percent of adults with less than a high school diploma, 2017-21", "Percent of adults with a high school diploma only, 2017-21", "Percent of adults completing some college or associate's degree, 2017-21", "Percent of adults with a bachelor's degree or higher, 2017-21"]]

#Convert State code to State Name
education_2020_df['State'] = education_2020_df['State'].astype(str).apply(get_state_name)

#Groupby state
education_2020_df = education_2020_df.groupby("State").mean()

education_2020_df.head()

,"Less than a high school diploma, 2017-21","High school diploma only, 2017-21","Some college or associate's degree, 2017-21","Bachelor's degree or higher, 2017-21","Percent of adults with less than a high school diploma, 2017-21","Percent of adults with a high school diploma only, 2017-21","Percent of adults completing some college or associate's degree, 2017-21","Percent of adults with a bachelor's degree or higher, 2017-21"
State,,,,,,,,
Alabama,12648.441176,30623.794118,30356.529412,26777.205882,15.690656,35.675804,29.756072,18.877468
Alaska,2107.677419,8895.032258,10687.032258,9560.709677,8.892191,35.632796,32.285766,23.189247
Arizona,70057.500000,140687.250000,201329.125000,186927.000000,14.114824,27.520653,36.034237,22.330286
Arkansas,6545.289474,18124.526316,15593.894737,12928.131579,14.393875,39.038295,29.386847,17.180983
California,143594.406780,185666.237288,258726.881356,320387.728814,14.514847,23.709699,33.114374,28.661079

In [14]:
#Find Columns for 2020 for Unemployment
unemployment_2020_df = combined_df.loc[:,["State","Area name", "Civilian_labor_force_2020", "Employed_2020", "Unemployed_2020", "Unemployment_rate_2020"]]

#Change state codes to Names
unemployment_2020_df['State'] = unemployment_2020_df['State'].astype(str).apply(get_state_name)

#Group by State
unemployment_2020_df = unemployment_2020_df.groupby("State").mean()

unemployment_2020_df.head()

,Civilian_labor_force_2020,Employed_2020,Unemployed_2020,Unemployment_rate_2020
State,,,,
Alabama,66715.014706,62386.735294,4328.279412,6.945588
Alaska,22379.580645,20534.096774,1845.483871,10.203226
Arizona,432106.312500,398887.437500,33218.875000,8.712500
Arkansas,35699.578947,33528.184211,2171.394737,6.350000
California,641732.813559,576158.203390,65574.610169,9.996610

In [15]:
#Find Columns for 2020 for Population
population_2020_df = combined_df.loc[:,["State","Area name","Population 2020"]]

#Change state codes to Names
population_2020_df['State'] = population_2020_df['State'].astype(str).apply(get_state_name)

#Group by State
population_2020_df = population_2020_df.groupby("State").mean()

population_2020_df.head()

            Population 2020
State
Alabama        1.477729e+05
Alaska         4.731555e+04
Arizona        8.939378e+05
Arkansas       7.925063e+04
California     1.340279e+06

In [16]:
#Find Columns for 2020 for Poverty
poverty_2020_df = combined_df.loc[:,["State","Area name","Estimate of people of all ages in poverty 2020","Estimated percent of people of all ages in poverty 2020","Estimated percent of people age 0-17 in poverty 2020","Estimated percent of related children age 5-17 in families in poverty 2020","Estimate of median household income 2020","Estimated percent of children ages 0 to 4 in poverty 2020 (available for the U.S. and State total only)"]]

#Change state codes to Names
poverty_2020_df['State'] = poverty_2020_df['State'].astype(str).apply(get_state_name)

#Group by State
poverty_2020_df = poverty_2020_df.groupby("State").mean()

poverty_2020_df.head()

,Estimate of people of all ages in poverty 2020,Estimated percent of people of all ages in poverty 2020,Estimated percent of people age 0-17 in poverty 2020,Estimated percent of related children age 5-17 in families in poverty 2020,Estimate of median household income 2020,Estimated percent of children ages 0 to 4 in poverty 2020 (available for the U.S. and State total only)
State,,,,,,
Alabama,21016.735294,17.557353,25.208824,24.077941,47945.147059,23.3
Alaska,4112.222222,12.666667,16.607407,15.266667,71074.666667,14.2
Arizona,116569.250000,16.068750,21.662500,20.206250,54338.250000,19.4
Arkansas,11807.000000,17.834211,25.119737,23.765789,45769.131579,24.0
California,149802.271186,12.262712,15.366102,14.661017,74261.186441,14.6

In [17]:
#Create Dataframes for water quality

#Uranium
#import file
uranium_df = pd.read_csv("Resources\CDC\ANNUAL PERCENT OF CWS BY MEAN URANIUM CONCENTRAtion (MGL).csv")

#Rename Columns
uranium_df = uranium_df.rename(columns= {"Value":"Percent by Mean Uranium Concentration >30 mg/L"})
uranium_df.head()

,StateFIPS,State,Year,Percent by Mean Uranium Concentration >30 mg/L,Data Comment,Number of CWS,Concentration
0,4,Arizona,2020,2,NaN,1,Concentration: (>30)
1,6,California,2020,10,NaN,25,Concentration: (>30)
2,8,Colorado,2020,1,NaN,2,Concentration: (>30)
3,9,Connecticut,2020,0,NaN,0,Concentration: (>30)
4,12,Florida,2020,0,NaN,0,Concentration: (>30)

In [18]:
#Uranium
#import file
uranium_df = pd.read_csv("Resources\CDC\ANNUAL PERCENT OF CWS BY MEAN URANIUM CONCENTRAtion (MGL).csv")

#Rename Columns
uranium_df = uranium_df.rename(columns= {"Value":"Percent by Mean Uranium Concentration >30 mg/L"})
uranium_df.head()

,StateFIPS,State,Year,Percent by Mean Uranium Concentration >30 mg/L,Data Comment,Number of CWS,Concentration
0,4,Arizona,2020,2,NaN,1,Concentration: (>30)
1,6,California,2020,10,NaN,25,Concentration: (>30)
2,8,Colorado,2020,1,NaN,2,Concentration: (>30)
3,9,Connecticut,2020,0,NaN,0,Concentration: (>30)
4,12,Florida,2020,0,NaN,0,Concentration: (>30)

In [19]:
#arsenic
#import file
arsenic_df = pd.read_csv("Resources\CDC\ARSENIC IN COMMUNITY WATER SYSTEMS (CWS)  ANNUAL PERCENT OF CWS BY MEAN ARSENIC CONCENTation (MG per L).csv")

#Rename Columns
arsenic_df = arsenic_df.rename(columns= {"Value":"Percent by Mean Arsenic Concentration >10 mg/L"})
arsenic_df.head()

,StateFIPS,State,Year,Percent by Mean Arsenic Concentration >10 mg/L,Data Comment,Number of CWS,Concentration
0,4,Arizona,2020,6,NaN,18,Concentration: (>10)
1,6,California,2020,18,NaN,90,Concentration: (>10)
2,8,Colorado,2020,1,NaN,2,Concentration: (>10)
3,9,Connecticut,2020,1,NaN,1,Concentration: (>10)
4,12,Florida,2020,0,NaN,1,Concentration: (>10)

In [20]:
#DEHP
#import file
dehp_df = pd.read_csv("Resources\CDC\DI(2-ETHYLHEXYL) PHTHALATE (DEHP).csv")

#Rename
dehp_df = dehp_df.rename(columns= {"Value":"Percent by Mean DI(2-ETHYLHEXYL) PHTHALATE (DEHP) Concentration > 6 mg/L"})
dehp_df.head()

,StateFIPS,State,Year,Percent by Mean DI(2-ETHYLHEXYL) PHTHALATE (DEHP) Concentration > 6 mg/L,Data Comment,Number of CWS,Concentration
0,4,Arizona,2020,0,NaN,0,Concentration: (>6)
1,6,California,2020,0,NaN,0,Concentration: (>6)
2,8,Colorado,2020,0,NaN,1,Concentration: (>6)
3,9,Connecticut,2020,0,NaN,0,Concentration: (>6)
4,12,Florida,2020,0,NaN,0,Concentration: (>6)

In [21]:
#Haloacetics Acids
#import file
hha_df = pd.read_csv("Resources\CDC\DISINFECTION BYPRODUCTS IN COMMUNITY WATER SYSTEMS (CWS)  ANNUAL PERCENT OF CWS BY MEAN Haloacetics Acids Concentration.csv")

#Rename Columns
hha_df = hha_df.rename(columns= {"Value":"Percent by Mean Haloacetics Acids Concentration >60 mg/L"})
hha_df.head()

,StateFIPS,State,Year,Percent by Mean Haloacetics Acids Concentration >60 mg/L,Data Comment,Number of CWS,Concentration
0,4,Arizona,2020,0,NaN,1,Concentration: (>60)
1,8,Colorado,2020,0,NaN,1,Concentration: (>60)
2,9,Connecticut,2020,0,NaN,0,Concentration: (>60)
3,12,Florida,2020,1,NaN,8,Concentration: (>60)
4,19,Iowa,2020,0,NaN,0,Concentration: (>60)

In [22]:
#Nitrate
#import file
nitrate_df = pd.read_csv(r"Resources\CDC\NITRATES IN COMMUNITY WATER SYSTEMS (CWS) ANNUAL PERCENT.csv")

#Rename Columns
nitrate_df = nitrate_df.rename(columns= {"Value":"Percent by Mean Nitrate Concentration >10 mg/L"})
nitrate_df.head()

,StateFIPS,State,Year,Percent by Mean Nitrate Concentration >10 mg/L,Data Comment,Number of CWS,Concentration
0,4,Arizona,2020,1,NaN,7,Concentration: (>10)
1,6,California,2020,2,NaN,32,Concentration: (>10)
2,8,Colorado,2020,0,NaN,0,Concentration: (>10)
3,9,Connecticut,2020,0,NaN,0,Concentration: (>10)
4,12,Florida,2020,0,NaN,1,Concentration: (>10)

In [23]:
#Merge to create impurities_df
temp_df = pd.merge(uranium_df, arsenic_df, on="State", how="outer")
temp_df = pd.merge(temp_df, dehp_df, on="State", how="outer")
temp_df = pd.merge(temp_df, hha_df, on="State", how="outer")
temp_df = pd.merge(temp_df, nitrate_df, on="State", how="outer")
temp_df.head()

C:\Users\nside\AppData\Local\Temp\ipykernel_15616\864757586.py:4: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Number of CWS_x', 'Data Comment_x', 'Concentration_x', 'StateFIPS_x', 'Year_x'} in the result is deprecated and will raise a MergeError in a future version.
  temp_df = pd.merge(temp_df, hha_df, on="State", how="outer")

,StateFIPS_x,State,Year_x,Percent by Mean Uranium Concentration >30 mg/L,Data Comment_x,Number of CWS_x,Concentration_x,StateFIPS_y,Year_y,Percent by Mean Arsenic Concentration >10 mg/L,...,Percent by Mean Haloacetics Acids Concentration >60 mg/L,Data Comment_y,Number of CWS_y,Concentration_y,StateFIPS,Year,Percent by Mean Nitrate Concentration >10 mg/L,Data Comment,Number of CWS,Concentration
0,4.0,Arizona,2020.0,2.0,NaN,1.0,Concentration: (>30),4.0,2020.0,6.0,...,0.0,NaN,1.0,Concentration: (>60),4,2020,1,NaN,7,Concentration: (>10)
1,6.0,California,2020.0,10.0,NaN,25.0,Concentration: (>30),6.0,2020.0,18.0,...,NaN,NaN,NaN,NaN,6,2020,2,NaN,32,Concentration: (>10)
2,8.0,Colorado,2020.0,1.0,NaN,2.0,Concentration: (>30),8.0,2020.0,1.0,...,0.0,NaN,1.0,Concentration: (>60),8,2020,0,NaN,0,Concentration: (>10)
3,9.0,Connecticut,2020.0,0.0,NaN,0.0,Concentration: (>30),9.0,2020.0,1.0,...,0.0,NaN,0.0,Concentration: (>60),9,2020,0,NaN,0,Concentration: (>10)
4,12.0,Florida,2020.0,0.0,NaN,0.0,Concentration: (>30),12.0,2020.0,0.0,...,1.0,NaN,8.0,Concentration: (>60),12,2020,0,NaN,1,Concentration: (>10)

In [24]:
#Create dataframe of impurities
impurities_df = temp_df.loc[:,["State","Year_x","Percent by Mean Uranium Concentration >30 mg/L","Percent by Mean Arsenic Concentration >10 mg/L","Percent by Mean DI(2-ETHYLHEXYL) PHTHALATE (DEHP) Concentration > 6 mg/L","Percent by Mean Nitrate Concentration >10 mg/L"]]

#Rename Columns
impurities_df = impurities_df.rename(columns={"Year_x":"Year"})

impurities_df.head()

,State,Year,Year,Percent by Mean Uranium Concentration >30 mg/L,Percent by Mean Arsenic Concentration >10 mg/L,Percent by Mean DI(2-ETHYLHEXYL) PHTHALATE (DEHP) Concentration > 6 mg/L,Percent by Mean Nitrate Concentration >10 mg/L
0,Arizona,2020.0,2020.0,2.0,6.0,0.0,1
1,California,2020.0,2020.0,10.0,18.0,0.0,2
2,Colorado,2020.0,2020.0,1.0,1.0,0.0,0
3,Connecticut,2020.0,2020.0,0.0,1.0,0.0,0
4,Florida,2020.0,2020.0,0.0,0.0,0.0,0
5,Iowa,2020.0,2020.0,0.0,3.0,0.0,0
6,Kansas,2020.0,2020.0,0.0,1.0,0.0,1
7,Kentucky,2020.0,2020.0,0.0,0.0,0.0,0
8,Maryland,2020.0,2020.0,0.0,0.0,0.0,0
9,Massachusetts,2020.0,2020.0,0.0,0.0,0.0,0
10,Minnesota,2020.0,2020.0,0.0,1.0,0.0,0
11,Missouri,2020.0,2020.0,0.0,0.0,0.0,0
12,New Hampshire,2020.0,2020.0,1.0,2.0,0.0,0
13,New Jersey,2020.0,NaN,0.0,0.0,NaN,0
14,New Mexico,2020.0,2020.0,2.0,5.0,1.0,0
15,New York,2020.0,2020.0,0.0,1.0,0.0,0
16,Oregon,2020.0,2020.0,0.0,6.0,0.0,0
17,Pennsylvania,2020.0,2020.0,0.0,0.0,0.0,0
18,Rhode Island,2020.0,2020.0,17.0,0.0,0.0,0
19,Utah,2020.0,2020.0,0.0,6.0,0.0,0
20,Vermont,2020.0,2020.0,0.0,0.0,0.0,0
21,Washington,2020.0,2020.0,7.0,2.0,0.0,0
22,Wisconsin,2020.0,2020.0,0.0,0.0,0.0,0
23,Maine,NaN,2020.0,NaN,2.0,0.0,0
24,Michigan,NaN,NaN,NaN,NaN,NaN,0

In [25]:
#Dictionary of States by Region
state_to_region = {
    'Arizona': 'Non-Coastal',
    'California': 'Pacific',
    'Colorado': 'Non-Coastal',
    'Connecticut': 'Atlantic',
    'Maine': 'Atlantic',
    'Maryland': 'Atlantic',
    'Massachusetts': 'Atlantic',
    "Michigan": "Non-Coastal",
    "Minnesota": "Non-Coastal",
    "Missouri": "Non-Coastal",
    'New Hampshire': 'Atlantic',
    'New Jersey': 'Atlantic',
    'New Mexico': 'Non-Coastal',
    'New York': 'Atlantic',
    'Oregon': 'Pacific',
    'Pennsylvania': 'Non-Coastal',
    'Rhode Island': 'Atlantic',
    'Utah': 'Non-Coastal',
    'Vermont': 'Non-Coastal',
    'Washington': 'Pacific',
    "Wisconsin": "Non-Coastal"
}

# Apply the mapping to the "State" column and create a new "Region" column
impurities_df['Region'] = impurities_df['State'].map(state_to_region)

#Group by Region
impurities_region_df = impurities_df.groupby("Region").mean()
impurities_region_df

,Year,Year,Percent by Mean Uranium Concentration >30 mg/L,Percent by Mean Arsenic Concentration >10 mg/L,Percent by Mean DI(2-ETHYLHEXYL) PHTHALATE (DEHP) Concentration > 6 mg/L,Percent by Mean Nitrate Concentration >10 mg/L
Region,,,,,,
Atlantic,2020.0,2020.0,2.571429,0.750000,0.000000,0.000000
Non-Coastal,2020.0,2020.0,0.555556,2.111111,0.111111,0.100000
Pacific,2020.0,2020.0,5.666667,8.666667,0.000000,0.666667

In [26]:
#Combine Census data together
#Dataframes to combine for the year 2020
census_2020_df = pd.merge(population_2020_df, unemployment_2020_df, on="State", how="outer")
census_2020_df = pd.merge(census_2020_df, education_2020_df, on="State", how="outer")
census_2020_df = pd.merge(census_2020_df, poverty_2020_df, on="State", how="outer")

#Reset index to create "State" column
census_2020_df.reset_index()

census_2020_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 52 entries, Alabama to Wyoming
Data columns (total 19 columns):
 #   Column                                                                                                   Non-Null Count  Dtype
---  ------                                                                                                   --------------  -----
 0   Population 2020                                                                                          52 non-null     float64
 1   Civilian_labor_force_2020                                                                                51 non-null     float64
 2   Employed_2020                                                                                            51 non-null     float64
 3   Unemployed_2020                                                                                          51 non-null     float64
 4   Unemployment_rate_2020                                                                                   51 non-null     float64
 5   Less than a high school diploma, 2017-21                                                                 52 non-null     float64
 6   High school diploma only, 2017-21                                                                        52 non-null     float64
 7   Some college or associate's degree, 2017-21                                                              52 non-null     float64
 8   Bachelor's degree or higher, 2017-21                                                                     52 non-null     float64
 9   Percent of adults with less than a high school diploma, 2017-21                                          52 non-null     float64
 10  Percent of adults with a high school diploma only, 2017-21                                               52 non-null     float64
 11  Percent of adults completing some college or associate's degree, 2017-21                                 52 non-null     float64
 12  Percent of adults with a bachelor's degree or higher, 2017-21                                            52 non-null     float64
 13  Estimate of people of all ages in poverty 2020                                                           51 non-null     float64
 14  Estimated percent of people of all ages in poverty 2020                                                  51 non-null     float64
 15  Estimated percent of people age 0-17 in poverty 2020                                                     51 non-null     float64
 16  Estimated percent of related children age 5-17 in families in poverty 2020                               51 non-null     float64
 17  Estimate of median household income 2020                                                                 51 non-null     float64
 18  Estimated percent of children ages 0 to 4 in poverty 2020 (available for the U.S. and State total only)  51 non-null     float64
dtypes: float64(19)
memory usage: 8.1+ KB

In [27]:
#Merge impurities_df and Census 2020 dataframe
complete_2020_df =pd.merge(census_2020_df, impurities_df, on="State",how="outer")
complete_2020_df.head()

,State,Population 2020,Civilian_labor_force_2020,Employed_2020,Unemployed_2020,Unemployment_rate_2020,"Less than a high school diploma, 2017-21","High school diploma only, 2017-21","Some college or associate's degree, 2017-21","Bachelor's degree or higher, 2017-21",...,Estimated percent of related children age 5-17 in families in poverty 2020,Estimate of median household income 2020,Estimated percent of children ages 0 to 4 in poverty 2020 (available for the U.S. and State total only),Year,Year,Percent by Mean Uranium Concentration >30 mg/L,Percent by Mean Arsenic Concentration >10 mg/L,Percent by Mean DI(2-ETHYLHEXYL) PHTHALATE (DEHP) Concentration > 6 mg/L,Percent by Mean Nitrate Concentration >10 mg/L,Region
0,Alabama,1.477729e+05,66715.014706,62386.735294,4328.279412,6.945588,12648.441176,30623.794118,30356.529412,26777.205882,...,24.077941,47945.147059,23.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alaska,4.731555e+04,22379.580645,20534.096774,1845.483871,10.203226,2107.677419,8895.032258,10687.032258,9560.709677,...,15.266667,71074.666667,14.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arizona,8.939378e+05,432106.312500,398887.437500,33218.875000,8.712500,70057.500000,140687.250000,201329.125000,186927.000000,...,20.206250,54338.250000,19.4,2020.0,2020.0,2.0,6.0,0.0,1.0,Non-Coastal
3,Arkansas,7.925063e+04,35699.578947,33528.184211,2171.394737,6.350000,6545.289474,18124.526316,15593.894737,12928.131579,...,23.765789,45769.131579,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,California,1.340279e+06,641732.813559,576158.203390,65574.610169,9.996610,143594.406780,185666.237288,258726.881356,320387.728814,...,14.661017,74261.186441,14.6,2020.0,2020.0,10.0,18.0,0.0,2.0,Pacific

In [28]:
#Write Complete dataframe to files

complete_2020_df.to_excel("complete_2020_df.xlsx")

complete_2020_df.to_csv("complete_2020_df.csv")